{% include "header.html" %}

<div class="container">
   <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
         <span class="fs-4"><strong>Clement Wiredu</strong></span>
      </a>

      <ul class="nav nav-pills">
         <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
         <li class="nav-item"><a href="{{ url_for('resume') }}" class="nav-link">Resume</a></li>
         <li class="nav-item"><a href="" class="nav-link active" aria-current="page">Projects</a></li>
         <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
      </ul>
      </header>
      <h1 style="text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><strong>PROJECTS</strong></h1>
      <br>

      <div class="p-5 text-center bg-body-tertiary rounded-3">
         <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">E-commerce Website</h3>
                  <br>
                  <p class="card-text mb-auto">This e-commerce website offers a diverse selection of programming languages for sale. Designed to provide a seamless shopping experience, the platform features an intuitive interface for browsing and purchasing digital resources.</p>
                  <a href="https://github.com/wireduclement/udemy-professional-portfolio-projects/tree/master/ecommerce-website" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
                    View on Github
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="thumbnail">
                      <img src="../static/img/e-com-img.png" alt="Thumbnail">
                  </div>
              </div>
              
              </div>
            </div>

            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Todo Website</h3>
                  <br>
                  <p class="mb-auto">This web application is designed to help users efficiently manage their tasks and stay organized. It features a clean and user-friendly interface for creating, editing, and deleting tasks.</p>
                  <a href="https://github.com/wireduclement/udemy-professional-portfolio-projects/tree/master/todo-website" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
                    View on Github
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="thumbnail">
                      <img src="../static/img/todo-img.png" alt="Thumbnail">
                  </div>
              </div>
              
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Space Invaders Game</h3>
                  <br>
                  <p class="card-text mb-auto">This Space Invaders game application recreates the classic arcade experience with modern enhancements. Players control a spaceship at the bottom of the screen, tasked with defending Earth from waves of descending alien invaders.</p>
                  <a href="https://github.com/wireduclement/udemy-professional-portfolio-projects/tree/master/space-invaders" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
                    View on Github
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="thumbnail">
                      <img src="../static/img/invaders-img.png" alt="Thumbnail">
                  </div>
              </div>
              
              </div>
            </div>

            <div class="col-md-6">
               <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                 <div class="col p-4 d-flex flex-column position-static">
                   <h3 class="mb-0">Breakout Game</h3>
                   <br>
                   <p class="mb-auto">This Breakout game application delivers a modern twist on the classic arcade game, featuring smooth controls and engaging gameplay, players aim to clear all the bricks from the screen while avoiding letting the ball fall off the bottom.</p>
                   <a href="https://github.com/wireduclement/udemy-professional-portfolio-projects/tree/master/breakout-game" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
                     View on Github
                   </a>
                 </div>
                 <div class="col-auto d-none d-lg-block">
                  <div class="thumbnail">
                      <img src="../static/img/breakout-img.png" alt="Thumbnail">
                  </div>
              </div>
              
               </div>
             </div>
           </div>

           <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">PDF to Audio</h3>
                  <br>
                  <p class="card-text mb-auto">This application converts PDF documents into spoken audio, providing an accessible way to listen to text content. Users can upload PDF files, and the application will process the text and generate an audio file or stream it directly.</p>
                  <a href="https://github.com/wireduclement/udemy-professional-portfolio-projects/tree/master/pdf-to-audiobook" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
                    View on Github
                  </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <div class="thumbnail">
                      <img src="../static/img/audiobook-img.png" alt="Thumbnail">
                  </div>
              </div>
              
              </div>
            </div>

            <div class="col-md-6">
               <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                 <div class="col p-4 d-flex flex-column position-static">
                   <h3 class="mb-0">Watermark App</h3>
                   <br>
                   <p class="mb-auto">This project allows users to add a watermark to images. The watermark can include text such as copyright information, or custom text to indicate ownership or branding.</p>
                   <a href="https://github.com/wireduclement/udemy-professional-portfolio-projects/tree/master/watermark-app" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
                     View on Github
                   </a>
                 </div>
                 <div class="col-auto d-none d-lg-block">
                  <div class="thumbnail">
                      <img src="../static/img/watermark-img.png" alt="Thumbnail">
                  </div>
              </div>
              
               </div>
             </div>
           </div>
      </div>


{% include "footer.html" %}